<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abundis.cinepolis_conteo_fisico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cinépolis Conteo Físico"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".almacen1"></activity>
        <activity android:name=".Menu_Almacen" />
        <activity android:name=".Presentaciones" />
        <activity android:name=".RecuperarContrasenia" />
        <activity
            android:name=".Dulceria"
            android:label="@string/title_activity_dulceria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Taquilla" />
        <activity android:name=".Menuprincipal" />
        <activity android:name=".Acercadenosotros" />
        <activity
            android:name=".Almacen"
            android:label="@string/title_activity_almacen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>